
.dropdown {
    position: relative;
    display: inline-block;
    float: inline-end;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-content a{
    text-decoration: none;
    padding: 12px 16px;
    color: black;
    gap: 20px;
}
.dropbtn{
    border:none;
    background-color: transparent;

}

.dropdown:hover .dropdown-content {display: flex; flex-direction: column;  width: 100%;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}
